<p-toast></p-toast>
<div class="admin-page">
    <p-card [header]="editmode ? 'Editar Producto' : 'Agregar Producto'" subheader="Puedes agregar o editar los productos aquí"> 
        <div class="grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <p-button styleClass="p-button-primary mr-3" [label]="editmode ? 'Actualizar' : 'Crear'" icon="pi pi-plus" (click)="onSubmit()"></p-button>
                        <p-button styleClass="p-button-secondary" label="Cancelar" icon="pi pi-arrow-circle-left"  (click)="back()" ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="fluid formgrid grid">
                        <div class="field col">
                            <label for="name">Nombre</label>
                            <input formControlName="name" id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            <small *ngIf="productForm.name.invalid && isSubmited" class="p-error">El nombre es requerido</small>
                        </div>
                        <div class="field col">
                            <label for="brand">Marca</label>
                            <input formControlName="brand" id="brand" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                            <small *ngIf="productForm.brand.invalid && isSubmited" class="p-error">La marca es requerida</small>
                        </div>
                        <div class="field col">
                            <label for="price">Precio</label><br/>
                            <p-inputNumber formControlName="price" mode="decimal" inputId="price" [useGrouping]="false">
                            </p-inputNumber>
                            <small *ngIf="productForm.price.invalid && isSubmited" class="p-error">El precio es requerido</small>
                        </div>
                    </div>
                    <div class="fluid formgrid grid">
                        <div class="field col-4">
                            <label for="countInStock">Stock</label><br/>
                            <p-inputNumber formControlName="countInStock" mode="decimal" inputId="countInStock" [useGrouping]="false">
                            </p-inputNumber>
                            <small *ngIf="productForm.countInStock.invalid && isSubmited" class="p-error">El stock es requerido</small>
                        </div>
                        <div class="field col-4 ">
                            <label for="category">Categoria</label><br/>
                            <p-dropdown autoWidth="false" [style]="{'width':'100%'}"  appendTo="body" [options]="catagories" formControlName="category"  optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Elige una categoría"></p-dropdown>
                            <small *ngIf="productForm.category.invalid && isSubmited" class="p-error">La categoria es requerida</small>
                        </div>
                        <div class="field col">
                            <label for="isFeatured">Destacado</label><br/> 
                            <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
                        </div>
                        <div class="field col-12">
                            <label for="description">Descripcion</label><br/>
                            <textarea rows="7" cols="150" pInputTextarea formControlName="description"></textarea>
                            <small *ngIf="productForm.description.invalid && isSubmited" class="p-error">La descripcion es requerida</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
    
</div>

