<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Ordenes" subheader="Lista de Ordenes"> 
        <div class="grid">
            <div class="col-12">
                <p-table [value]="orders" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="user">User <p-sortIcon field="user"></p-sortIcon></th>
                            <th pSortableColumn="totalPrice">Precio Total <p-sortIcon field="totalPrice"></p-sortIcon></th>
                            <th pSortableColumn="dateOrdered">Fecha del Pedido <p-sortIcon field="dateOrdered"></p-sortIcon></th>
                            <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
                            <th ></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr>
                            <td>{{order.user.name}}</td>
                            <td>{{order.totalPrice}}</td>
                            <td>{{order.dateOrdered | date:'short'}}</td>
                            <td><p-tag [value]="orderStatus[order.status].label" [severity]="orderStatus[order.status].color"></p-tag></td>
                            <td>
                                <p-button (click)="deleteOrder(order.id)" styleClass="p-button-danger mr-2" icon="pi pi-trash" ></p-button>
                                <p-button  (click)="showOrder(order.id)" styleClass="p-button-success" icon="pi pi-eye" ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>


