//Base
@import './base/normalize.scss';
@import './base/colors.scss';
@import './base/fonts.scss';
@import './base/mixins.scss';

//Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

@import './base/configuration.scss';

//Pages
@import './apps/shop/pages/home-page.scss';
@import './apps/shop/pages/products-list-page.scss';

//Shared
@import './apps/shop/shared/footer.scss';
@import './apps/shop/shared/header.scss';
@import './apps/shop/shared/nav.scss';


//Libs
@import './libs/ui/ui.scss';
@import './libs/products/products.scss';

.container{
    /* width: 1200px; */
    padding-top: 8px;
    margin:0 auto;
    background-color: var(--surface-100);
}